<!-- ~~~~~ EquivalenceModel ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<li class="list-group-item" >
	<select class="form-control" ng-model="m.em" ng-options="em as em for em in EquivalenceModelList" ></select>
</li>
<span ng-switch on="m.em" >

<!-- html.model.modelList() -->
%(eqmList)s

</span>
<!-- commun formulaire for each model -->
<li class="list-group-item">
	<div class="row" >
		<div class="col-sm-12" >
			<div class="input-group" >
				<label class="input-group-addon">XS Model</label>
				<select class="form-control" ng-model="m.xsModel" ng-options="xsm as xsm for xsm in XSModelList" ></select>
			</div>
		</div>
	</div>	
</li>
<li class="list-group-item" >
<!-- Fabrication Plant -->
	<div class="row" >
		<div class="col-sm-6" >
			<div class="input-group" >
				<label class="input-group-addon">Fabrication time</label>
				<input class="form-control" type="number" min="0" step="0.01" data-ng-model="m.fp.time" />
			<span class="input-group-addon">$y$</span>
			</div>
		</div>
		<div class="col-sm-6" >
			<div class="input-group" >
				<label class="input-group-addon">Storage management</label>
				<select class="form-control" ng-model="m.fp.storageManagement" ng-options="i as i for i in StorageManagementList" ></select>
			</div>
		</div>
	</div>
	<div class="row" style="padding: 1em" >
		<h5>Storages <button class="btn btn-default" style="display: inline-block; right:0;" ng-click="m.fp.storageList.push({backendFacility: [] })" data-toggle="Add a storage" aria-label="Add" ><i class="glyphicon glyphicon-plus" aria-hidden="true" ></i></button></h5>

		<div class="input-group col-sm-12" style="margin-top: 0.5em; margin-bottom: 0.5em;" ng-repeat="store in m.fp.storageList" >

			<span class="btn-group" >
				<input class="form-control" type="text" placeholder="Keyword" ng-model="store.key" />
			</span>

			<span class="btn-group" style="width: 66%%;" style="display: table;" >
				<span ng-repeat="unity in store.backendFacility" style="display: table-cell; max-width: 100%%;" >
					<select class="form-control" ng-options="u.id as u.id group by u.type for u in backend | filter:{type:'Stock'}" ng-model="unity.id" ng-disabled="store.infinit" ></select>
				</span>
			</span>

			<span class="btn-group" >
					<button class="btn btn-default" ng-click="store.backendFacility.push({})" aria-label="Add" ng-disabled="store.infinit" data-toggle="Add a stock" ><i class="glyphicon glyphicon-plus" aria-hidden="true" ></i></button>

					<label class="btn btn-default" aria-label="Infinit storage" ng-class="{'btn-success':store.infinit}" data-toggle="Add infinit storage" style="font-size:14px" >
						$\infty$
						<input type="checkbox" ng-model="store.infinit" style="display: none;" />
					</label>

					<button class="btn btn-default" ng-click="m.fp.storageList.splice($index, 1)" aria-label="Remove" data-toggle="Remove" >
						<i class="glyphicon glyphicon-remove" aria-hidden="true" ></i>
					</button>
			</span>
		
		</div>
	</div>
</li>
<!-- Irradiation model -->
<li class="list-group-item">
	<div class="row" >
		<div class="col-sm-12" >
			<div class="input-group" >
				<label class="input-group-addon">Irradiation model</label>
				<select class="form-control" ng-model="m.im.model" ng-options="im as im for im in IrradiationModelList" ></select>
			</div>
		</div>
	</div>
	<div class="row" >
		<div class="col-sm-6" >
			<div class="radio">
				<label>
					<input type="radio" ng-model="m.im.spectrumType" value="thermal" /> Thermal spectrum
				</label>
				<label>
					<input type="radio" ng-model="m.im.spectrumType" value="fast" /> Fast spectrum
				</label>
			</div>
		</div>
		<div class="col-sm-6" >
			<div class="checkbox" >
				<label>
					<input type="checkbox" ng-model="m.im.fp" /> Add fission product
				</label>
			</div>
		</div>

	</div>
</li>
