
<section class="panel panel-default" ng-switch on="m.type" >
	<header class="panel-heading panel-title input-group" >
		<select class="form-control" ng-options="i for i in EDM" ng-model="m.type" ></select>
		<span class="input-group-btn" style="width: 60%;" >
			<input type="text" class="form-control" placeholder="Name" ng-model="m.id" />
		</span>
		<span class="input-group-btn" >
			<button class="btn btn-danger" ng-click="models.splice($index, 1)" aria-label="Remove" ><span class="glyphicon glyphicon-remove" aria-hidden="true" ></span></button>
		</span>
	</header>
<!-- ===== EvolutionData/EquivalenceModel form =========================== -->
	<ul class="list-group" ng-switch-when="Evolution_Data" >
		{0}
	</ul>
	<ul class="list-group" ng-switch-when="Equivalence_Model" >
		{1}
	</ul>
<!-- ===== list of Reactors ============================================== -->
	{2}
</section>
