
<!DOCTYPE html>
<html ng-app="classGUI" ng-controller="classCtrl" >
<head>
	<meta charset="utf-8" />
	<title>%(title)s</title>

	<link rel="icon" type="image/png" href="css/logo.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- [CSS] Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css" />

	<!-- [CSS] Joint.js -->
	<link rel="stylesheet" type="text/css" href="css/lib/joint.min.css" />

	<!-- [CSS] KeTeX -->
	<link href="js/lib/katex/katex.min.css" rel="stylesheet" type="text/css">

	<!-- [CSS] -->
	<link rel="stylesheet" type="text/css" href="css/cgui.css" />
</head>
<body>

<!-- [navbar]
display "CLASS" and add 2 buttons to save and load a scenario in and from a JSON file
-->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" id="title" >CLASS</a>
		</div>
		<div class="navbar-collapse collapse">
			<div class="navbar-form navbar-right">

				<button class="btn btn-link" data-toggle="Download C++" ng-click="downloadCode()" >
					<i class="glyphicon glyphicon-floppy-disk" ></i>
				</button>

				<button class="btn btn-link" data-toggle="Save" ng-click="downloadScenar()" >
					<i class="glyphicon glyphicon-cloud-download" ></i>
				</button>

				<label class="btn btn-link" data-toggle="Load" >
					<i class="glyphicon glyphicon-cloud-upload" ></i>
					<input type="file" style="display:none" ng-file-select="loadScenar()" />
				</label>

			</div>
		</div>
	</div>
</nav>
<div role="main" class="container" >
