<!-- ~~~~~ EQM_MLP_Kinf ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="row" >
	<div class="col-sm-12" >
		<div class="input-group" >
			<label class="input-group-addon">Artificial neural network weights</label>
			<select class="form-control" data-ng-model="m.tmvaWeightPath" data-ng-options="w as w for w in MLPWeight" ></select>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Number of batches</label>
			<input class="form-control" type="number" step="1" min="0" data-ng-model="m.nbBatches" />
		</div>
	</div>

	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">$k_{Threshold}$</label>
			<input class="form-control" type="number" step="0.001" min="0" max="2" data-ng-model="m.kThreshold" />
		</div>
	</div>
</div>
