<!-- ~~~~~ EQM_FBR_MLP_Keff ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="row" >
	<div class="col-sm-12" >
		<div class="input-group" >
			<label class="input-group-addon">Artificial neural network weights</label>
			<select class="form-control" data-ng-model="m.tmvaWeightPath" data-ng-options="w as w for w in MLPWeight" ></select>
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-12" >
		<div class="input-group" >
			<label class="input-group-addon">$k_{eff}^{target}$</label>
			<input class="form-control input-lg" type="number" step="0.01" min="0" max="2" data-ng-model="m.keffTarget" />
		</div>
	</div>
</div>