<!-- ~~~~~ EQM_FBR_BakerRoss_MOX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<div class="row" >
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Weight $^{235}U$</label>
			<input class="form-control" type="number" step="0.000005" data-ng-model="m.weightU235" />
		</div>
	</div>
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Weight $^{238}Pu$</label>
			<input class="form-control" type="number" step="0.000005" data-ng-model="m.weightPu238" />
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Weight $^{240}Pu$</label>
			<input class="form-control" type="number" step="0.000005" data-ng-model="m.weightPu240" />
		</div>
	</div>
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Weight $^{241}Pu$</label>
			<input class="form-control" type="number" step="0.000005" data-ng-model="m.weightPu241" />
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Weight $^{242}Pu$</label>
			<input class="form-control" type="number" step="0.000005" data-ng-model="m.weightPu242" />
		</div>
	</div>
	<div class="col-sm-6" >
		<div class="input-group" >
			<label class="input-group-addon">Weight $^{241}Am$</label>
			<input class="form-control" type="number" step="0.000005" data-ng-model="m.weightAm241" />
		</div>
	</div>
</div>
<div class="row" >
	<div class="col-sm-12" >
		<div class="input-group" >
			<label class="input-group-addon">Equivalent fissile</label>
			<input class="form-control" type="number" step="0.005" min="0" max="100" data-ng-model="m.equivalentFissile" />
			<span class="input-group-addon">$\%$</span>
		</div>
	</div>
</div>