<!-- Stock ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<label>
	<input type="checkbox" ng-model="unity.addIV" /> Add initial isotopic vector
</label>

<div class="input-group col-sm-12" style="margin-bottom:0.5em;" ng-show="unity.addIV" >

	<!-- iv -->
	<input type="text" class="form-control" placeholder="[ Z,A,I,Quantity ] , [ Z,A,I,Quantity ] , [ 92 , 258 , 0 , 2.6e5 ]" ng-model="unity.iv" aria-describedby="help-ZAIQuantity" />

	<span id="help-ZAIQuantity" class="help-block" >Il faut écrire entre crochets <samp>[Z,A,I,Quantity]</samp>, la liste de ZAI est sépararé par des virgules. La quantité est le nombre de noyaux.</span>

</div>
