@font-face {
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 300;
	src: url(fonts/glyphicons-halflings-regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: local('Raleway Light'), local('Raleway-Light'), url(fonts/raleway_light.ttf) format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(fonts/raleway_regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(fonts/raleway_semibold.ttf) format('truetype');
}
